<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="testsToRun" value="XVLogin, ProtocolTests, ProtocolTestsVPNConnected, ProtocolTestsConnectAndCancel, ProtocolTestsConnectAndReconnect, ProtocolTestsConnectReconnectAndCancel, ProtocolTestsRapidFireConnectAndDisconnect, CheckCurrentPerformance_AppService, CheckPerformanceMean_AppService, CheckRAMIncreaseAfterVPNConnected_AppService, CheckSpeedImpact, CheckCurrentPerformance_SystemService, CheckPerformanceMean_SystemService, CheckRAMIncreaseAfterVPNConnected_SystemService, CheckCurrentPerformance_VpnService, CheckPerformanceMean_VpnService, CheckRAMIncreaseAfterVPNConnected_VpnService" />
		<add key="logfilelocation" value="C:\\logs" />
		<add key="appiumLocation" value="C:\\Users\\srpat\\AppData\\Roaming\\npm\\appium.cmd"/>
		<add key="activationCode" value="EUXA893YTRUGOX2CEYGRFQI"/>
		<add key="performanceMeanInterval" value="10"/>
		<add key="performanceMeanWaitTimeMS" value="100"/>
		<add key="ExpressVPNClientApp" value="C:\\Program Files (x86)\\ExpressVPN\\expressvpn-ui\\ExpressVPN.exe"/>
	</appSettings>
</configuration>